.prem_tabs {
    width: 25vw;
    height: 20vh;
    box-shadow: 0 0 10px rgba(36, 36, 36, 0.2), 0 0 40px rgba(36, 36, 36, 0.2),
      0 0 60px rgba(36, 36, 36, 0.2);
    border: 3px solid rgb(176, 175, 175);
    cursor: pointer;
    display: flex;
    padding: 2px;
    justify-content: center;
    border-radius: 15px;
  }
  
  .activeTab {
    border: 3px solid rgb(13, 159, 238);
  }
  
  .subscribeInactive {
    color: black;
    background-color: #d3d3d3; 
  }
  
  .subscribeActive {
    color: white;
    background-color: rgb(13, 159, 238); 
  }
