.recent_nav{
    margin-right: 1vw;
    background-color: black;
    width: 31.6vw;
    height: 101vh;
    border: 2px solid rgb(34, 34, 34);
    z-index: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

$tabs-width: 28vw;

.trending{
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 15px;
    padding: 13px;
    width: $tabs-width;
    height: auto;
    color: white;
}

.premium_rem{
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 15px;
    padding: 13px;
    width: $tabs-width;
    height: 27vh;
    color: white;
    ;
    .button{
        background-color: rgb(13, 159, 238);
        width: 8vw;
        height: 7vh;
        border-radius: 25px;
        font-weight: bold;

        &:hover{
            background-color: rgba(13, 159, 238, 0.736);
        }
    }

}

